{% load staticfiles %}
<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Title Page</title>

		<!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
   <!-- Standart CSS-file -->
   <link rel="stylesheet" href="{% static 'css/base.css' %}">
   <!-- Google font 'Teko' -->
   <link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">
   <!-- Google font 'Alfa Slab One' -->
   <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn t work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
        <div class="page-header"></div>
        <div class="page-header-down">
            <h1><a href="#">VADIM KARPENKO BLOG</a></h1>
        </div>
        <div class="content container">
            <div class="row">
               <div class="col-md-3"></div>
               <div class="col-md-6">
                    {% block content %}
                    {% endblock %}
               </div>
                <div class="col-md-3"></div>
            </div>
        </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script src="{% static 'js/jQuery.scrollSpeed.js' %}"></script> 
   <script src="{% static 'js/base.js' %}"></script> 
   
	</body>
</html>

