$main-color:aliceblue;
$black-main: #333333;
$box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);

html, body{
    height: 100%;
}

.page-header {
    background: url(../images/bg.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 92vh;
}

.page-header-down>h1 {
    &>a {
        color: $main-color; 
        text-decoration: none;
        display:block;
        padding-top: 2vh;
        
    }
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    font-size: 4vh;
}

.page-header-down {
    height: 8vh;
    background-color: $black-main;
}

.content {
	text-align: center;
}
.post {
    margin-top: 16vh;
    font-family: 'Alfa Slab One', sans-serif;
    color: #494949; 
    line-height: 2vh;
}
.title>h2>a {
    font-size: 3vh;
    color: #494949; 
    text-decoration:underline;
    text-transform: uppercase;
}

.text, .short_text {
	font-size: 2.3vh;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 3vh;
}

.date {
    font-size: 1.7vh;
    font-family: sans-serif;
}

.page-footer {
    margin-top: 4vh;
    height: 8vh;
    background-color: $black-main;
    text-align: center;
    padding: 1.5vh;
    .fa-vk {
	    color: aliceblue;
        font-size: 4.5vh;
        margin-right: 2.5vh;
    }
    .fa-instagram {
        color: aliceblue;
        font-size: 4.5vh;
        margin-left: 2.5vh;
    }
}

.pagination {
	margin-top: 14vh;
}

.paginator_button {
	background-color: #636363;
    padding: 0.5vh 1vh 0.5vh 1vh;
    border-radius: 6px;
    &:hover {
        -webkit-box-shadow: $box-shadow;
        -moz-box-shadow: $box-shadow;
        box-shadow: $box-shadow;
    }
    a {
        color: $main-color;
        line-height: 1vh;
        text-decoration: none;
        font-weight: bold;
    }
}

.date {
    margin-bottom: 12vh;
}
