/* line 4, ../sass/base.scss */
html, body {
  height: 100%;
}

/* line 8, ../sass/base.scss */
body {
  overflow: hidden;
}

/* line 11, ../sass/base.scss */
.page-header {
  background: url(../images/bg.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 92vh;
}

/* line 20, ../sass/base.scss */
.page-header-down > h1 {
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-weight: bold;
  font-size: 6vh;
}
/* line 21, ../sass/base.scss */
.page-header-down > h1 > a {
  color: aliceblue;
  text-decoration: none;
  display: block;
  padding-top: 1vh;
}

/* line 34, ../sass/base.scss */
.page-header-down {
  height: 8vh;
  background-color: #333333;
}

/* line 39, ../sass/base.scss */
.content {
  text-align: center;
}

/* line 42, ../sass/base.scss */
.post {
  margin-top: 16vh;
  font-family: 'Alfa Slab One', sans-serif;
  color: #494949;
  line-height: 2vh;
}

/* line 48, ../sass/base.scss */
.title > h2 > a {
  font-size: 4vh;
  color: #494949;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 55, ../sass/base.scss */
.text {
  font-size: 2.5vh;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 3vh;
}

/* line 62, ../sass/base.scss */
.date {
  font-size: 1.7vh;
  font-family: sans-serif;
}

/* line 67, ../sass/base.scss */
.page-footer {
  margin-top: 4vh;
  height: 8vh;
  background-color: #333333;
  text-align: center;
}
/* line 72, ../sass/base.scss */
.page-footer .fa-vk {
  color: aliceblue;
  font-size: 30px;
  margin-right: 2.5vh;
  padding-top: 1vh;
}
/* line 78, ../sass/base.scss */
.page-footer .fa-instagram {
  color: aliceblue;
  font-size: 30px;
  margin-left: 2.5vh;
  padding-top: 1.5vh;
}

/* line 86, ../sass/base.scss */
.pagination {
  margin-top: 14vh;
}
