/* line 5, ../sass/base.scss */
html, body {
  height: 100%;
}

/* line 9, ../sass/base.scss */
body {
  /*overflow: hidden;*/
}

/* line 12, ../sass/base.scss */
.page-header {
  background: url(../images/bg.jpeg) center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 92vh;
}

/* line 21, ../sass/base.scss */
.page-header-down > h1 {
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-weight: bold;
  font-size: 4vh;
}
/* line 22, ../sass/base.scss */
.page-header-down > h1 > a {
  color: aliceblue;
  text-decoration: none;
  display: block;
  padding-top: 2vh;
}

/* line 35, ../sass/base.scss */
.page-header-down {
  height: 8vh;
  background-color: #333333;
}

/* line 40, ../sass/base.scss */
.content {
  text-align: center;
}

/* line 43, ../sass/base.scss */
.post {
  margin-top: 16vh;
  font-family: 'Alfa Slab One', sans-serif;
  color: #494949;
  line-height: 2vh;
}

/* line 49, ../sass/base.scss */
.title > h2 > a {
  font-size: 3vh;
  color: #494949;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 56, ../sass/base.scss */
.text {
  font-size: 2vh;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 3vh;
}

/* line 63, ../sass/base.scss */
.date {
  font-size: 1.7vh;
  font-family: sans-serif;
}

/* line 68, ../sass/base.scss */
.page-footer {
  margin-top: 4vh;
  height: 8vh;
  background-color: #333333;
  text-align: center;
  padding: 1.5vh;
}
/* line 74, ../sass/base.scss */
.page-footer .fa-vk {
  color: aliceblue;
  font-size: 4.5vh;
  margin-right: 2.5vh;
}
/* line 79, ../sass/base.scss */
.page-footer .fa-instagram {
  color: aliceblue;
  font-size: 4.5vh;
  margin-left: 2.5vh;
}

/* line 86, ../sass/base.scss */
.pagination {
  margin-top: 14vh;
}

/* line 90, ../sass/base.scss */
.paginator_button {
  background-color: #636363;
  padding: 0.5vh 1vh 0.5vh 1vh;
  border-radius: 6px;
}
/* line 94, ../sass/base.scss */
.paginator_button:hover {
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}
/* line 99, ../sass/base.scss */
.paginator_button a {
  color: aliceblue;
  line-height: 1vh;
  text-decoration: none;
  font-weight: bold;
}
